<div class='filter-by-categories-div'>
    <form action="/filter">
        <label for="q">Filter articles by category:</label>

        <select name="q">
            <option value="informational">informational</option>
            <option value="news">news</option>
            <option value="question">question</option>
        </select>

        <button type="submit">Filter</button>
    </form>
</div>