<div class='find-by-title-div item'>
    <form action="/find">
        <div class="item label-div">
            <label for="q">Find articles by title:</label>
        </div>
        <div class="item input-div">
            <input type="text" name="q">
        </div>
        <div class="item btn-div">
            <button type="submit" class="btn btn-secondary">Find</button>
        </div>
    </form>
</div>