<div class='find-by-title-div'>
    <form action="/find">
        <label for="q">Find articles by title:</label>
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
</div>