// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 100vh;
    background: #141415 !important;
}

.navbar {
    font-size: 20px;
}

.navbar-custom {
    background-color: #0d3b66;
}

.articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84%;

    .list-element {
        background-color: #1f2833;
        padding-left: 1%;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        color: #d7dadc;
        align-items: center;
        margin: 0.3%;
        border: 1.8px solid #0d3b66;
        border-radius: 4px;
    
        h2 {
            text-align: center;
            margin: 5px;
        }
    
        h3 {
            margin: 2px;
        }
    
        h4 {
            margin: 2px;
            text-align: end;
        }
    } 
}

nav {
    height: 10%;
}

.paginator {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 5%;

    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #d7dadc !important;
        background-color: #1f2833 !important;
        border: 1px solid #0d3b66 !important;
    }

    .page-link:hover {
        z-index: 2;
        color: #fff !important;
        text-decoration: none;
        background-color: #a4a4a4 !important;
        border-color: #dee2e6;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #808080 !important;
        border-color: #353535;
    }
}

.article-info {
    font-size: 20px;
    height: 85%;

    .top {
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
        height: 7%;
        color: #d7dadc;
    
        input {
            border-radius: 4px;
            border: 2px solid #0d3b66;
            background-color: #1f2833;
            color: #d7dadc;
        }
    
        .filter-by-categories-div {
            width: 30%;
        
            form {
                display: flex;
                flex-direction: row;
                width: 100%;
            }
        
            .item {
                height: 100%;
            }
        
            .select-div {
                height: 100%;
                margin-left: 1.5%;
        
                select {
                    border-radius: 4px;
                    border: 2px solid #0d3b66;
                    background-color: #1f2833;
                    color: #d7dadc;
                    height: 1.7em;
                }
            }
        
            .label-div {
                margin-left: 0;
            }
        
            .input-div {
                margin-left: 1.5%;
            }
        
            .btn-div {
                margin-left: 1.5%;
    
                button {
                    background-color: #0d3b66 !important;
                    color: #d7dadc;
                }
            }
        }
        
        .find-by-title-div {
            width: 40%;
        
            form {
                display: flex;
                flex-direction: row;
                width: 100%;
            }
        
            .item {
                height: 100%;
            }
        
            .label-div {
                margin-left: 0;
            }
        
            .input-div {
                margin-left: 1%;
            }
        
            .btn-div {
                margin-left: 1%;
    
                button {
                    background-color: #0d3b66 !important;
                    color: #d7dadc;
                }
            }
        }
        
        .count {
            width: 30%;
        
            h2 {
                margin: 0;
            }
        }
        
    }
}

.title-header {
    align-items: center;
}

.sign-in-div {
    width: 30%;
    height: 50%;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    border: 1.8px solid #0d3b66;
    border-radius: 4px;
    background-color: #1f2833;
    color: #d7dadc;

    h2 {
        text-align: center;
    }

    .field {
        margin: 3%;
        
        input {
            height: 3em;
            background: #1f2833;
            color: #d7dadc;
        }
    }

    .links {
        text-align: center;
        margin: 4%;
    }

    .actions {
        margin-top: 5%;

        button {
            width: 50%;
            margin-left: 25%;
            font-size: 20px;
            background-color: #0d3b66;
            color: #d7dadc;
        }
    }
}

.sign-up-div {
    width: 30%;
    height: 62%;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    border: 1.8px solid #0d3b66;
    border-radius: 4px;
    background-color: #1f2833;
    color: #d7dadc;

    h2 {
        text-align: center;
    }

    .field {
        margin: 3%;
        
        input {
            height: 3em;
            background: #1f2833;
            color: #d7dadc;
        }
    }

    .links {
        text-align: center;
        margin: 4%;
    }

    .actions {
        margin-top: 5%;

        button {
            width: 50%;
            margin-left: 25%;
            font-size: 20px;
            background-color: #0d3b66;
            color: #d7dadc;
        }
    }
}

.my-articles {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -0.6%;
    justify-content: space-between;
    color: #d7dadc;

    .column {
        flex: 1;
        width: 30vw;
        border: 2px solid #0d3b66;
        border-radius: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #1f2833;

        h2 {
            text-align: center;
        }

        a {
            color: #d7dadc;
        }
    }

    .private {
        margin-left: 0.7%;
    }

    .archieved {
        margin-left: 0.7%;
    }
}

.show-article {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1.8px solid #0d3b66;
    border-radius: 4px;
    background-color: #1f2833;
    color: #d7dadc;
    margin: auto;
    padding: 1%;
    height: fit-content;

    .author-category {
        h3 {
            margin: 0;
        }
    }

    .title {
        h1 {
            margin: 0;
            text-align: center;
        }
    }

    .comment-form {
        div {
            margin-top: 1%;
        }

        .commenter {
            input {
                background: #1f2833;
                width: 50%;
                color: #d7dadc;
            }

            p {
                margin: 0%;
            }
        }

        .body {
            textarea {
                background: #1f2833;
                width: 50%;
                color: #d7dadc;
            }

            p {
                margin: 0%;
            }
        }

        .status {
            select {
                border-radius: 4px;
                border: 2px solid #0d3b66;
                background-color: #1f2833;
                color: #d7dadc;
                height: 1.7em;
            }

            p {
                margin: 0%;
            }
        }
        
        .submit {
            button {
                font-size: 20px;
                background-color: #0d3b66;
                color: #d7dadc;
            }
        }
    }

    .picture {
        img {
            width: 100%;
        }
    }
}

.edit {
    font-size: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1.8px solid #0d3b66;
    border-radius: 4px;
    background-color: #1f2833;
    color: #d7dadc;

    h1 {
        text-align: center;
    }

    select {
        border-radius: 4px;
        border: 2px solid #0d3b66;
        background-color: #1f2833;
        color: #d7dadc;
        height: 1.7em;
    }

    input {
        background: #1f2833;
        width: 50%;
        color: #d7dadc;
    }

    button {
        font-size: 20px;
        background-color: #0d3b66;
        color: #d7dadc;
    }

    textarea {
        background: #1f2833;
        width: 50%;
        color: #d7dadc;
    }
}